<ng-container *ngIf="selectedSeason$ | async as selectedSeason">
  <button
    *ngFor="let season of seasons"
    (click)="seasonChanged(season)"
    [disabled]="season == selectedSeason"
    mat-raised-button
  >
    {{ season }}
  </button>
</ng-container>
<br />
<button
  (click)="showRaces = !showRaces"
  [disabled]="showRaces"
  mat-raised-button
>
  Races
</button>
<button
  (click)="showRaces = !showRaces"
  [disabled]="!showRaces"
  mat-raised-button
>
  Drivers
</button>

<ng-container *ngIf="!showRaces">
  <h1>Drivers</h1>
  <table *ngIf="driversPerSeason$ | async as driversPerSeason">
    <tr>
      <th>#</th>
      <th>Id</th>
      <th>Number</th>
      <th>Code</th>
      <th>Name</th>
      <th>Nationality</th>
    </tr>
    <tr *ngFor="let driver of driversPerSeason; let idx = index">
      <td>{{ ((driversOffset$ | async) ?? 0) + idx + 1 }}</td>
      <td>{{ driver.driverId }}</td>
      <td>{{ driver.permanentNumber }}</td>
      <td>{{ driver.code }}</td>
      <td>{{ driver.familyName }} {{ driver.givenName }}</td>
      <td>{{ driver.nationality }}</td>
    </tr>
    <tr>
      <td colspan="6">
        <mat-paginator
          [length]="totalDriversPerSeason$ | async"
          [pageSize]="driversItemsPerPage$ | async"
          [pageSizeOptions]="pageSizeOptions"
          (page)="driverItemsPerPageChanged($event)"
        >
        </mat-paginator>
      </td>
    </tr>
  </table>
</ng-container>

<ng-container *ngIf="showRaces">
  <h1>Races</h1>
  <table *ngIf="racesPerSeason$ | async as racesPerSeason">
    <tr>
      <th>Round</th>
      <th>Race Name</th>
      <th>Date</th>
      <th>Time</th>
      <th>&nbsp;</th>
    </tr>
    <tr *ngFor="let race of racesPerSeason">
      <td>{{ race.round }}</td>
      <td>{{ race.raceName }}</td>
      <!-- <td>{{ race.Circuit }}</td> -->
      <td>{{ race.date | date }}</td>
      <td>{{ race.time }}</td>
      <td>
        <button
          mat-raised-button
          (click)="setSelectedRace(race.round, 'qualifying')"
        >
          Qualifying
        </button>
        <button
          mat-raised-button
          (click)="setSelectedRace(race.round, 'standings')"
        >
          Standings
        </button>
        <button
          mat-raised-button
          (click)="setSelectedRace(race.round, 'results')"
        >
          Results
        </button>
      </td>
    </tr>
    <tr>
      <td colspan="5">
        <mat-paginator
          [length]="totalRacesPerSeason$ | async"
          [pageSize]="racesItemsPerPage$ | async"
          [pageSizeOptions]="pageSizeOptions"
          (page)="raceItemsPerPageChanged($event)"
        >
        </mat-paginator>
      </td>
    </tr>
  </table>

  <ng-container *ngIf="showDetailType == 'qualifying'">
    <h2>Qualifying Results for {{ selectedRaceName$ | async }}</h2>
    <table>
      <tr>
        <th>Position</th>
        <th>Number</th>
        <th>Name</th>
        <th>Q1</th>
        <th>Q2</th>
        <th>Q3</th>
      </tr>
      <tr *ngFor="let result of qualifyingResults$ | async">
        <td>{{ result.position }}</td>
        <td>{{ result.number }}</td>
        <td>{{ result.Driver.givenName }} {{ result.Driver.familyName }}</td>
        <td>{{ result.Q1 }}</td>
        <td>{{ result.Q2 }}</td>
        <td>{{ result.Q3 }}</td>
      </tr>
    </table>
  </ng-container>
  <ng-container *ngIf="showDetailType == 'standings'">
    <h2>Standings after {{ selectedRaceName$ | async }}</h2>
    <table>
      <tr>
        <th>Position</th>
        <th>Points</th>
        <th>Wins</th>
        <th>Name</th>
        <th>Number</th>
      </tr>
      <tr *ngFor="let result of driverStandings$ | async">
        <td>{{ result.position }}</td>
        <td>{{ result.points }}</td>
        <td>{{ result.wins }}</td>
        <td>{{ result.Driver.givenName }} {{ result.Driver.familyName }}</td>
        <td>{{ result.Driver.permanentNumber }}</td>
      </tr>
    </table>
  </ng-container>
  <ng-container *ngIf="showDetailType == 'results'">
    <h2>{{ selectedRaceName$ | async }} Results</h2>
    <p>
      Number Finished: {{ numFinished$ | async }}<br />
      Number Accidents: {{ numAccident$ | async }}<br />
      Number +1 Lap: {{ numPlusOne$ | async }}<br />
    </p>
    <table>
      <tr>
        <th>Position</th>
        <th>Number</th>
        <th>Points</th>
        <th>Name</th>
        <th>Grid</th>
        <th>Laps</th>
        <th>Status</th>
        <th>Time</th>
      </tr>
      <tr *ngFor="let result of raceResults$ | async">
        <td>{{ result.position }}</td>
        <td>{{ result.number }}</td>
        <td>{{ result.points }}</td>
        <td>{{ result.Driver.givenName }} {{ result.Driver.familyName }}</td>
        <td>{{ result.grid }}</td>
        <td>{{ result.laps }}</td>
        <td>{{ result.status }}</td>
        <td>{{ result.Time?.time }}</td>
      </tr>
    </table>
  </ng-container>
</ng-container>
<router-outlet></router-outlet>
