<ng-container *ngIf="selectedSeason$ | async as selectedSeason">
  <button
    *ngFor="let season of seasons"
    (click)="seasonChanged(season)"
    [disabled]="season == selectedSeason"
  >
    {{ season }}
  </button>
</ng-container>
<h1>Races</h1>
<table *ngIf="racesPerSeason$ | async as racesPerSeason">
  <tr *ngFor="let race of racesPerSeason">
    <td>{{ race.round }}</td>
    <td>{{ race.raceName }}</td>
    <!-- <td>{{ race.Circuit }}</td> -->
    <td>{{ race.date }}</td>
    <td>{{ race.time }}</td>
  </tr>
</table>
<br />
<h1>Drivers</h1>
<table *ngIf="driversPerSeason$ | async as driversPerSeason">
  <tr *ngFor="let driver of driversPerSeason">
    <td>{{ driver.driverId }}</td>
    <td>{{ driver.permanentNumber }}</td>
    <td>{{ driver.code }}</td>
    <td>{{ driver.givenName }}</td>
    <td>{{ driver.familyName }}</td>
    <td>{{ driver.dateOfBirth }}</td>
    <td>{{ driver.nationality }}</td>
  </tr>
</table>

<router-outlet></router-outlet>
